*
{
  margin: 0;
  padding: 0;
}

.Navigation--bar
{
  display: flex;
  background-color: black;
  align-items: center;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
}
.logo--section
{
  flex-shrink: calc(15%);

}
.image--logo
{
  border-radius:4rem;
  height: 6.5rem;
  width: 6.5rem;
  padding: 10px;
}
.link--list
{
  width: 75%;
  display: flex;
  justify-content: right;
  text-decoration: none;
  flex-shrink: calc(75%);

}

.text--link, a
{
  justify-content: space-around;
  padding: 1.25rem;
  text-decoration: none;
  list-style: none; 
  color: azure;
  padding: 8px;
}
 a:hover
{
 background-color: rgb(251, 233, 31);
 border-radius: 3px;
 padding: 8px;
 color: black;

}
.social--media, .social--link
{
  width: fit-content;
 padding: 8px;
}